data/flows-with-tutorial-embedded.json
[{"id":"18cddca9.9038e3","type":"tab","label":"M+M+Demo+Flow","disabled":false,"info":""},{"id":"9e4f5511.a28c98","type":"subflow","name":"Subflow 2","info":"","in":[],"out":[]},{"id":"1b9b7e8f.439c61","type":"subflow","name":"Subflow 3","info":"1. Opens the OPC Adapter Config file\n2. Grabs the MQTT config info\n3. Sends it to the Debug Window\n","in":[],"out":[]},{"id":"490c44b7.a0bf0c","type":"mqtt-broker","z":"","name":"","broker":"mqtt-tcp://predix-edge-broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3d9290ee.649f9","type":"mqtt in","z":"18cddca9.9038e3","name":"From OPCUA Adapter","topic":"app_data","qos":"2","broker":"490c44b7.a0bf0c","x":120,"y":400,"wires":[["2223e44e.4b7d7c"]]},{"id":"2223e44e.4b7d7c","type":"mqtt out","z":"18cddca9.9038e3","name":"To Cloud Gateway","topic":"timeseries_data","qos":"","retain":"","broker":"490c44b7.a0bf0c","x":390,"y":400,"wires":[]},{"id":"5b0e890d.8c6228","type":"file in","z":"9e4f5511.a28c98","name":"ConfigIn","filename":"/config/config-cloud-gateway.json","format":"utf8","chunk":false,"sendError":false,"x":300,"y":60,"wires":[["718ccce4.faa1e4"]]},{"id":"58c0f78e.a320b8","type":"debug","z":"9e4f5511.a28c98","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":60,"wires":[]},{"id":"718ccce4.faa1e4","type":"function","z":"9e4f5511.a28c98","name":"GetMQTTSection","func":"var config = JSON.parse(msg.payload);\nmsg.payload = config.blocks.mqtt.config;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":60,"wires":[["58c0f78e.a320b8"]]},{"id":"dc44d76f.e9ce78","type":"inject","z":"9e4f5511.a28c98","name":"TriggerFlow","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["5b0e890d.8c6228"]]},{"id":"40b61585.53378c","type":"debug","z":"1b9b7e8f.439c61","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":40,"wires":[]},{"id":"f9ec0b4e.f7b878","type":"function","z":"1b9b7e8f.439c61","name":"GetMQTTSection","func":"var config = JSON.parse(msg.payload);\nmsg.payload = config.blocks.mqtt.config;\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":40,"wires":[["40b61585.53378c"]]},{"id":"89c44c60.b489c","type":"file in","z":"1b9b7e8f.439c61","name":"ConfigIn","filename":"/config/config-opcua.json","format":"utf8","chunk":false,"sendError":false,"x":300,"y":40,"wires":[["f9ec0b4e.f7b878"]]},{"id":"3010433f.7353fc","type":"inject","z":"1b9b7e8f.439c61","name":"TriggerFlow","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["89c44c60.b489c"]]},{"id":"1d4c4c4d.66e884","type":"subflow:9e4f5511.a28c98","z":"18cddca9.9038e3","name":"CloudGatewayConfig","x":70,"y":240,"wires":[]},{"id":"b1a2663e.350738","type":"debug","z":"18cddca9.9038e3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":500,"wires":[]},{"id":"715e2447.8020cc","type":"subflow:1b9b7e8f.439c61","z":"18cddca9.9038e3","name":"OPCUAAdapterConfig","x":70,"y":200,"wires":[]},{"id":"3de71832.15b028","type":"comment","z":"18cddca9.9038e3","name":"2. Predix Edge MQTT Config","info":"View the mqtt configs in the Debug tab (above), then return to this Info tab.\n\nClick on each debug msg to format the text more nicely.\n\n - Notice how the OPC UA Adapter is sending data to the app_data topic.\n\n - Notice how the Time Series Cloud Gateway is receiving data on the timeseries_data topic.\n\n## One App, Many Devices\n\nThe app we are building will be deployed to many devices.  Some Configs may vary per Asset or Device.  Edge Manager helps you remotely manage and deploy Apps to all your devices.\n\n## Time Series Tags\n\nTime Series Tags are the primary key of sensor data coming in from, in this case, the OPCUA adapter.  \n\nHere are the tag definitions used by the OPCUA Adapter to convert the sensor data to Time Series format.  The Cloud Gateway sends the data to Predix Time Series in the cloud and is used by APM.\n\n    \"opcua\": {\n        \"type\": \"opcuasubflat\",\n        \"config\": {\n            \"transport_addr\": \"opc-tcp://3.39.89.86:49310\",\n            \"log_level\": \"debug\",\n            \"data_map\": [\n                {\n                  \"alias\": \"Compressor-2017:CompressionRatio\",\n                  \"id\": \"ns=2;s=Simulator.Device1.FLOAT1\"\n                },\n                {\n                  \"alias\": \"Compressor-2017:DischargePressure\",\n                  \"id\": \"ns=2;s=Simulator.Device1.FLOAT2\"\n                },\n                {\n                  \"alias\": \"Compressor-2017:SuctionPressure\",\n                  \"id\": \"ns=2;s=Simulator.Device1.FLOAT3\"\n                },\n                {\n                  \"alias\": \"Compressor-2017:Velocity\",\n                  \"id\": \"ns=2;s=Simulator.Device1.FLOAT4\"\n                },\n                {\n                  \"alias\": \"Compressor-2017:Temperature\",\n                  \"id\": \"ns=2;s=Simulator.Device1.FLOAT5\"\n                }\n            ]\n        }\n      }\n      \n      \nClick on **3. Change Your Flow** to continue.","x":140,"y":160,"wires":[]},{"id":"484df3f8.1d02dc","type":"comment","z":"18cddca9.9038e3","name":"1. The Predix Edge Containers (click me)","info":"(drag the vertical bar to the left to make the text bigger)\n\n## Predix Edge App\n\nOur Predix Edge app consists of 4 containers\n\n- **MQTT Data Broker** - a pub/sub message queue\n- **OPCUA Adapter** - listens for OPCUA Protocol, converts to Time Series format\n- **Node Red** - for the demo workshop\n- **Time Series Data Pump** - sends data to Predix Time Series in the cloud\n\n![logo](images/edge-ref-app.png)\n\n\n######      *Edge Agent runs native on the Predix Edge OS and not in a Docker container. The Edge Agent securely manages communication and registration for Predix Edge OS.\n\n\n## Edge Manager\n\nWith Edge Manager you can securely manage all your devices.  You can remotely monitor, configure and push apps to them with ease.\n\n## Predix APM\n\nPredix APM optimizes the performance of your assets.  The tool helps increase asset reliability and availability while optimizing maintenance costs, mitigating your operational risk and reducing total cost of ownership.\n\nIn the Predix Cloud we have 4 more components\n\n- **Predix Edge Manager** - Monitor and Optimize your Assets\n- **Predix APM** - Monitor and Optimize your Assets\n- **Predix UAA** - provides Oauth security\n- **Predix Time Series** - Time Series data store for sensor and calculated data\n\nClick on **2. Predix Edge MQTT Configs** to continue\n\n","x":180,"y":40,"wires":[]},{"id":"f210cf3d.a0a7c","type":"comment","z":"18cddca9.9038e3","name":"3. Change Your Flow","info":"\n# What you need to do\n\nFollow the steps to change your flow.\n\n## The Initial Flow\n\nThe flow should start out like this.\n\n![initial-flow](images/initial-flow.png)\n\n\n## See the Traffic\n\n1. Drag a link from the OPCUA Adapter Topic to the Cloud Gateway Topic\n2. Click the Deploy button up above \n3. Click the Debug tab up above\n\n![initial-flow](images/see-the-traffic.png)\n\n## Add a Function\n\n1. Drag a Function node and place it in the flow between the From OPCUA Adapter and To Cloud Gateway\n2. If needed drag lines between the nodes\n3. Double click the new Function node, name it Scalar\n\n    ![initial-flow](images/scale-the-data.png)\n\n4. Copy the code below, paste it in the Function, click Done then Deploy\n\n        //read the message into a json object\n        var item = JSON.parse(msg.payload);\n\n        //scale up the value by 100 and put it back on the broker topic to be sent to Predix Time Series\n        for ( var i=0;i<item.body.length;i++)\n        {\n          var tagName = item.body[i].name;\n          var value = item.body[i].datapoints[0][1];\n          \n          //scale the tag value * 1000\n          item.body[i].datapoints[0][1] = value * 100;\n          \n          //don't do this for workshop - APM Asset Model needs to match\n          //you could even give the scaled tag a new name\n          //item.body[0].name = tagName + '.scaled_x_1000';\n          \n          var scaled_item = JSON.stringify(item);\n          \n          //publish the tag back to the broker on the topic the cloud-gateway container is subscribing to\n          msg.payload = scaled_item\n          \n          return msg;\n        }\n\n\n## Validate Results\n\n1. Drag the Input node named MQTT on to the palette\n2. Double click and enter **timeseries_data** in the topic.\n3. Delete the old link to the Debug node and make a new one\n4. Deploy\n5. Pro Tip: try a scalar of 0 or a large number to see the change, and Deploy.  Please change it back to 100 and Deploy.\n \n![initial-flow](images/validate-flow.png)\n\n\nClick on **4. Secure Your App** to continue.","x":110,"y":300,"wires":[]},{"id":"eb18f11b.aab9f","type":"comment","z":"18cddca9.9038e3","name":"4. Secure Your App","info":"\n#### Security and Performance \n\nThe Predix Edge architecture is designed to allow for any container containing any language or microservice.  The Predix Edge security model extends the Docker model further, taking security to the OS level.\n\n![initial-flow](images/security-sandboxes.png)\n\nThis sample app will be provided as an upcoming downloadable app on our Edge documentation portal or on https://predix.io.\n\n#### Role of Node Red\n\nNode Red is part of this demo app, consider the following when building any app customizations.\n\n##### Design Time\nNode Red at design time works well to change and deploy the logic of a flow.  Compared to a custom Java Script app, we copied a code snippet from our standalone JavaScript app to this one, only needing to change one variable name. \n\n\n\n##### Runtime\nIn this demo, we also added Node Red to runtime so you could see the data flowing.  For this we ensured the ports were closed at the Predix Edge OS level and we added Predix Edge login security to our web app.  Even though Node Red can only see and change what is in it's Container sandbox, we recommend sticking to using the tool at Design time.\n\n##### Scan and Test\nAny custom code you add needs to be thoroughly scanned and evaluated for security, performance and whether it meets the limitations of the cpu, memory and disk it is running on. \n\n\nClick on the **Enter Device Event** circle in the Steps bar near the top of the screen.","x":110,"y":600,"wires":[]}]
